.admin {
    max-width: 1400px;
    margin: 0 auto;
    &__container {
        border-radius: 10px;
        width: 1300px;
        margin: 0 auto;
        padding-left: 20px;
        padding-top: 20px;
    }
    &__form {
        border: 1px solid black;
        border-radius: 20px;
        padding: 30px 15px;
        display: flex;
        margin-bottom: 30px;
    }
    &__h1 {
        color: black;
        font-weight: 400;
        margin-bottom: 56px;
        font-size: 32px;
        margin-bottom: 34px;
    }
    &__input {
        max-width: 125px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 10px;
        border: 1px solid black;
        margin-right: 27px;
        text-align: center;
    }
    &__input::placeholder {
        text-align: center;
    }
    &__btn {
        background-color: white;
        border: none;
        cursor: pointer;
    }
}

.admin-pizza {
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    margin-bottom: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 42px;
    &__img {
        // padding-left: 10px;
        width: 80px;
        height: 80px;
        margin-right: 56px;
    }
    &__descr {
        padding-top: 28px;
        display: block;
        max-width: 112px;
        margin-right: 90px;
    }
    &__delete {
        border: none;
        background-color: white;
        cursor: pointer;
    }
}

.banner {
    padding-top: 20px;
    padding-bottom: 20px;
}